@import '../../styles/variable.scss';

.#{$prefix}-connect-wallet {
  position: relative;
  height: 143px;
  background-color: #FFF;
  border-top: 1px solid #F5F5F5;
  &-btn {
    padding: 18px 32px 18px 56px !important;
    color: #FFF !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    letter-spacing: 0;
    text-transform: capitalize;
    background-color: #000 !important;
    background-image: url(../../assets/images/svg/chat-white.svg);
    background-repeat: no-repeat;
    background-position: 32px center;
  }
}
