@import '../../styles/variable.scss';

.#{$prefix}-chat {
  &-header {
    position: relative;
    z-index: 2;
    background-color: #FFF;
    border-bottom: 1px solid #EBEBEB;
    &-title {
      color: #000;
      font-weight: bold;
      font-size: 20px;
    }

    &-total,
    &-id {
      color: #8D8D8D;
      font-weight: 500;
      font-size: 14px;
    }

    &-id {
      &-link {
        color: #8D8D8D !important;
        text-decoration: underline;
      }
    }
  }
}

.#{$prefix}-chat-item {
  &-self {
    justify-content: flex-end;
  }

  &-self &-avatar-wrapper{
    display: none;
  }
  
  &-self &-info {
    text-align: right;
  }

  &-self &-content {
    background-color: #FFF;
    border: 1px solid #EBEBEB;
  }

  &-avatar-wrapper {
    position: relative;
  }

  &-avatar {
    background-color: #F5F5F5 !important;
    border-radius: 50%;
  }

  &-avatar-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 16px;
    height: 16px;
    // background: url(../../assets/images/png/mixin.png) no-repeat right bottom / 16px;
    // &-fennec {
    //   background-image: url(../../assets/images/png/fennec.png);
    // }
  }

  &-content {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    background-color: #F5F5F5;
    border-radius: 8px;

    &-only-mixin {
      color: #8D8D8D;
    }
  }

  &-name {
    display: inline-block;
    max-width: 26vw;
    overflow: hidden;
    color: #8D8D8D;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  &-time {
    display: inline-block;
    color: #CCC;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    vertical-align: middle;
  }

  &-learn-more {
    color: #8D8D8D !important;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
  }
}
