@import '../../styles/variable.scss';

.#{$prefix}-chat {
  background-color: #FFF;
  &-pc {
    max-width: 400px;
  }

  .v-menu__content {
    left: 154px !important;
    background-color: #FFF;
    border-radius: 8px !important;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.06) !important;
  }

  &-header {
    position: relative;
    z-index: 2;
    background-color: #FFF;
    border-bottom: 1px solid #EBEBEB;
    &-title {
      color: #000;
      font-weight: bold;
      font-size: 20px;
      user-select: none;
    }

    &-total,
    &-id {
      color: #8D8D8D;
      font-weight: 500;
      font-size: 14px;
    }

    &-id {
      &-link {
        color: #8D8D8D !important;
        text-decoration: underline;
        &:hover {
          color: #000 !important;
        }
      }
    }
  }

  &-reconnect {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 49px;
    padding-left: 52px;
    color: #FFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 49px;
    background: url(../../assets/images/svg/warning-white.svg) no-repeat 24px center / 16px;
    background-color: #F44C4C;
  }
  
  &-chat-limit {
    border-bottom: 1px solid #EBEBEB;
    &-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      color: #FF9E29;
      background-color: #FFF8EC;
      border-radius: 50%;
    }
    &-txt {
      color: #8D8D8D;
      user-select: none;
      // cursor: pointer;
      // color: #8D8D8D !important;
      // text-decoration: none;
      // &:hover {
      //   text-decoration: underline;
      // }
    }
  }
}

.#{$prefix}-chat-menu {
  width: 198px;
  background-color: #FFF;
  border-radius: 8px;
  &-item {
    width: 100%;
    color: #494949;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    &-active {
      color: #000;
    }

    &-icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(../../assets/images/svg/checked.svg) no-repeat center;
    }
  }
}

.#{$prefix}-chat-item {
  width: 100%;
  &-self {
    justify-content: flex-end;
  }

  &-self &-avatar-wrapper{
    display: none;
  }
  
  &-self &-data {
    text-align: right;
  }

  &-self &-content {
    background-color: #FFF;
    border: 1px solid #EBEBEB;
  }

  &-avatar-wrapper {
    position: relative;
  }

  &-avatar {
    background-color: #F5F5F5 !important;
    border-radius: 50%;
  }

  &-avatar-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 16px;
    height: 16px;
    // background: url(../../assets/images/png/mixin.png) no-repeat right bottom / 16px;
    // &-fennec {
    //   background-image: url(../../assets/images/png/fennec.png);
    // }
  }

  &-data {
    width: calc(100% - 32px - 16px);
  }

  &-content {
    display: inline-block;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    background-color: #F5F5F5;
    border-radius: 8px;

    &-only-mixin {
      color: #8D8D8D;
    }
  }

  &-name {
    display: inline-block;
    max-width: 26vw;
    overflow: hidden;
    color: #8D8D8D;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  &-time {
    display: inline-block;
    color: #CCC;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    vertical-align: middle;
  }

  &-learn-more {
    color: #8D8D8D !important;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
  }
}
