@import '../../styles/variable.scss';

.#{$prefix}-chat-item {
  &-self {
    justify-content: flex-end;
  }

  &-self &-avatar-wrapper{
    display: none;
  }
  
  &-self &-info {
    text-align: right;
  }

  &-self &-content {
    background-color: #FFFFFF;
    border: 1px solid #EBEBEB;
  }

  &-avatar-wrapper {
    position: relative;
  }

  &-avatar {
    background-color: #F5F5F5 !important;
    border-radius: 50%;
  }

  &-avatar-icon {
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 16px;
    bottom: 0;
    right: 0;
    background: url(../../assets/images/png/mixin.png) no-repeat right bottom / 16px;
    &-fennec {
      background-image: url(../../assets/images/png/fennec.png);
    }
  }

  &-content {
    display: inline-block;
    background-color: #F5F5F5;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;

    &-only-mixin {
      color: #8D8D8D;
    }
  }

  &-name {
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 26vw;
    font-weight: 500;
    font-size: 12px;
    color: #8D8D8D;
  }

  &-time {
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
    font-weight: 500;
    font-size: 12px;
    color: #CCCCCC;
  }

  &-learn-more {
    color: #8D8D8D !important;
    text-decoration: underline;
    font-weight: 500;
    font-size: 14px;
  }
}
