@import '../../styles/variable.scss';

.#{$prefix}-wrapper {
  &-mobile {
    position: relative;
    &-close {
      position: absolute;
      top: 24px;
      right: 24px;
      z-index: 10;
      width: 32px;
      height: 32px;
      color: #000;
      background-color: #F5F5F5;
      border-radius: 8px;
      cursor: pointer;
    }
    .v-dialog {
      position: relative;
      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);
      overflow: hidden;
      .v-card__text {
        padding: 0;
      }
    }
    .v-bottom-sheet.v-dialog {
      max-height: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    .v-card.v-sheet {
      border-radius: 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
  &-pc {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    &-close {
      position: absolute;
      top: 24px;
      right: 24px;
      z-index: 10;
      width: 32px;
      height: 32px;
      color: #000;
      background-color: #F5F5F5;
      border-radius: 8px;
      cursor: pointer;
    }
    &-menu + .v-menu__content {
      top: 32px !important;
      right: 32px !important;
      left: auto !important;
      border-radius: 8px !important;
      .v-card__text {
        padding: 0;
      }
      .v-card.v-sheet {
        border-radius: 0;
      }
    }
  }
}
