@import '../../styles/variable.scss';

.#{$prefix}-stream {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #2e353f;
  .player-btn-label {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-image: url("../../assets/images/png/hd.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: " ";
    &.r-480p {
      background-image: url("../../assets/images/png/480p.png");
    }
    &.r-720p {
      background-image: url("../../assets/images/png/720p.png");
    }
    &.settings {
      background-image: url("../../assets/images/png/settings.png");
    }
  }

  &-player {
    width: 100% !important;
  }

  .xgplayer-definition {
    height: 164px;
  }
}
