@import '../../styles/variable.scss';

.#{$prefix}-hello-model {
  height: 100%;
  font-weight: 500;
  font-size: 14px;
  &-pc {
    max-width: 400px;
    height: calc(100vh - 64px);
  }

  &-wrapper {
    height: 100%;
  }

  &-title {
    font-weight: bold;
    font-size: 20px;
  }

  &-desc {
    color: #8D8D8D;
    font-size: 14px;
    text-align: left;
  }

  &-rule {
    text-align: left;
    background: url(../../assets/images/svg/warning.svg) no-repeat left top / 16px;
  }

  &-btn {
    width: 164px;
    height: 56px;
    margin: auto;
    color: #FFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 56px;
    text-align: center;
    background-color: #000;
    border-radius: 100px;
    cursor: pointer;
    user-select: none;

    &-wrapper {
      position: relative;
      z-index: 10;
      padding: 44px 0;
      background-color: #FFF;
    }
  }
}
