@import '../../styles/variable.scss';

.#{$prefix}-entry-button {
  display: inline-block;
  background-color: #000;
  border-radius: 100px;
  cursor: pointer;
  &:hover {
    background-color: #494949;
  }

  &-avatar {
    position: relative;
    background-color: #000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
    i {
      display: inline-block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    .v-image__image {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-avatar:nth-of-type(1) {
    z-index: 3;
    i {
      background-color: #FFF;
      background-image: url(../../assets/images/svg/chat-black.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px;
    }
  }
  &-avatar:nth-of-type(1).#{$prefix}-entry-button-stream {
    i {
      background-image: url(../../assets/images/svg/stream.svg);
    }
  }

  &-avatar:nth-of-type(2) {
    z-index: 2;
    i {
      background-color: var(--v-greyscale_5-base);
    }
  }

  &-avatar:nth-of-type(3) {
    z-index: 1;
    i {
      background-color: var(--v-greyscale_6-base);
    }
  }

  &-total {
    color: #FFF;
    font-weight: 600;
    font-size: 16px;
  }
}
