@import '../../styles/variable.scss';

.#{$prefix}-comment {
  position: relative;
  z-index: 2;
  color: #000;
  background-color: #FFF;
  border-top: 1px solid #F5F5F5;
  &-input {
    .v-input__control {
      height: 51px;
    }
    .v-input__slot {
      min-height: 0 !important;
      margin: 0;
      padding: 0 16px !important;
      background-color: #F5F5F5 !important;
      border-radius: 8px;
      input {
        color: #000;
        font-weight: 500;
        font-size: 16px;
        caret-color: #000;
        &::placeholder {
          color: #CCC;
        }
      }
    }
    .v-input__append-inner {
      .v-input__icon {
        button {
          color: #000 !important;
          svg {
            color: #000 !important;
          }
        }
      }
    }
    .v-text-field__details {
      display: none;
    }
  }
  &-input.#{$prefix}-comment-input-disabled {
    .v-input__slot {
      background-color: #FFF !important;
      border: 1px solid #EBEBEB;
      user-select: none;
    }
  }
  &-btn {
    width: 51px !important;
    height: 51px !important;
    color: #FFF;
    background-color: #000;
    border-radius: 8px;
    cursor: pointer;
  }

  &-settings {
    color: #F44C4C;
    font-weight: 500;
    font-size: 14px;
    background-color: #FFF;
    cursor: pointer;
  }

  &-upload {
    position: relative;
    &-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 0;
      cursor: pointer;
      opacity: 0;
    }

    &-disabled &-input {
      cursor: not-allowed;
    }
  }

  &-loading {
    .v-progress-circular {
      width: 24px !important;
      height: 24px !important;
    }
  }
}
