@import '../../styles/variable.scss';

.#{$prefix}-comment {
  position: relative;
  z-index: 2;
  color: #000;
  background-color: #FFFFFF;
  border-top: 1px solid #F5F5F5;
  &-input {
    .v-input__slot {
      margin: 0;
      padding: 0 16px !important;
      background-color: #F5F5F5 !important;
      border-radius: 8px;
      input {
        font-weight: 500;
        font-size: 16px;
        &::placeholder {
          color: #CCC;
        }
      }
    }
    .v-text-field__details {
      display: none;
    }
  }
  &-btn {
    width: 51px !important;
    height: 51px !important;
    color: #FFF;
    background-color: #000;
    border-radius: 8px;
    cursor: pointer;
  }
}
